h3.title-section {
  font-size: 33px;
  font-family: $font3;
  @include transition(all .3s ease-in-out);
  @include hoverColor($secondColor, $extraColor);
  @include mq('mobile') {
    font-size: 26px;
  }
  & + p {
    font-family: $font2;
    font-size: 17px;
    color: $secondColor;
  }
}

.extern-players {
  margin: 40px 0;
  @include transition(all .2s ease-in-out);
  @include border-radius(6px);
  h5 {
    font-family: $font3;
    color: $secondColor;
    font-size: 26px;
    margin-bottom: 25px;
  }
  &:hover {
    padding: 6px;
  }
  &.footer-box {
    width: 47%;
    float: left;
    margin: 0 15px 70px 0;
    @include mq('mobile') {
      width: 100%;
      margin: 0;
    }
  }
}

.album-description {
  p, span {
    font-family: $font2;
    font-size: 17px;
    color: $secondColor;
  }
}

.musics {
  @include linearGradient(lighten($primaryColor, 15%), $primaryColor);
  color: darken($secondColor, 60%);
  margin: 65px auto;
  text-align: center;
  width: 55%;
  @include mq('mobile') {
    color: $secondColor;
    width: 90%;
  }
  .title-section {
    background: lighten($primaryColor, 35%);
    font-family: $font3;
    color: $secondColor; 
    line-height: 2.3;
    font-size: 28px;
    margin: 0;
    @include mq('mobile') { font-size: 24px; }
  }
  .musics-description {
    font-family: $font3;
    height: 400px;
    @include mq('desktop-wide') { height: 480px; }
    @include mq('mobile') { height: max-content; }
    .music-block {
      height: 100%;
      padding-top: 10px;
      @include transition(all .4s ease-in-out);
      &:hover {
        color: $secondColor;
      }
      .music-name {
        font-size: 27px;
        margin: 10px 0;
        @include mq('mobile') { 
          font-size: 25px; 
        }
        & + p {
          font-size: 19px;
          padding: 0 15px 10px;
          @include mq('mobile') {
            padding: 10px 36px; 
          }
        }
      }
    }
  }
  .slick-dots {
    @include mq('mobile') {
      bottom: -35px;
    }
    li button:before {
      color: $extraColor;
      font-size: 12px;
    }
  }
  .slick-prev {
    @include mq('mobile') {
      left: 15px;
    }
    &:before {
      @include arrow($extraColor, 'oeste', 5px, 25px);
    }
  }
  .slick-next {
    @include mq('mobile') {
      right: 15px;
    }
    &:before {
      @include arrow($extraColor, 'leste', 5px, 25px);
    }
  }
}

.production-block {  
  width: 55%;
  height: 250px;
  padding: 20px;
  margin-bottom: 40px;
  text-align: center;
  font-family: $font3;
  font-size: 20px;
  color: $secondColor;
  @include linearGradient(lighten($primaryColor, 15%), $primaryColor);
  .title {
    font-size: 30px;
    & + ul {
      font-size: 18px;
      li { margin: 10px 0; }
      @include mq('mobile') {
        font-size: 16px;
        margin-top: 30px;
      }
    }
  }
  @include mq('mobile') {
    color: $secondColor;
    width: 90%;
    .title {
      font-size: 29px;
    }
  }
}