h3.title-section {
  font-size: 40px;
  @include transition(all .3s ease-in-out);
  @include hoverColor($secondColor, $extraColor);
  @include mq('mobile') {
    font-size: 30px;
  }
  & + p {
    font-family: $font2;
    font-size: 17px;
    color: $secondColor;
  }
}

.extern-players {
  margin: 40px 0;
  @include transition(all .2s ease-in-out);
  @include border-radius(6px);
  &:hover {
    padding: 6px;
    @include box-shadow(inset 0 0 10px $extraColor);
  }
}

.album-description {
  p, span {
    font-family: $font2;
    font-size: 18px;
    color: $secondColor;
  }
}

.musics {
  background: lighten($primaryColor, 15%);
  color: darken($secondColor, 60%);
  margin: 65px auto;
  text-align: center;
  @include mq('mobile') {
    color: $secondColor;
  }
  .title-section {
    background: $extraColor;
    font-family: $font3;
    color: $secondColor; 
    line-height: 2;
  }
  .musics-description {
    .music-block {
      @include transition(all .4s ease-in-out);
      &:hover {
        color: $secondColor;
        // border: 1px solid $extraColor;
      }
    }
  }
  
  .slick-dots {
    @include mq('mobile') {
      bottom: -35px;
    }
    li button:before {
      color: $extraColor;
      font-size: 12px;
    }
  }
  .slick-prev {
    @include mq('mobile') {
      left: 15px;
    }
    &:before {
      @include arrow($extraColor, 'oeste', 5px, 25px);
    }
  }
  .slick-next {
    @include mq('mobile') {
      right: 15px;
    }
    &:before {
      @include arrow($extraColor, 'leste', 5px, 25px);
    }
  }
}