body {
  font-family: $font1;
  background: $primaryColor;
}

.navbar-fixed {
  z-index: 2 !important;
}

nav {
  background: $primaryColor;
  ul {
    a {
      color: $secondColor;
    }
  }
  .brand-logo {
    img {
      height: 44px;
      margin-top: 10px;
      @include mq('mobile'){
        height: 37px;
      }
    }
  }
  a.sidenav-trigger {
    display: block !important;
  }
  .iconTranslate {
    width: 50px;
    text-align: center;
    cursor: pointer;
    position: relative;
  }
  .listFlags {
    position: absolute;
    right: -6px;
    top: 64px;
    background-color: rgba($primaryColor, 0.9);
    z-index: 1;
    @include mq('mobile') {
      top: 55px;
    }
    li {
      width: 100%;
      height: 64px;
      span {
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
}

#index-banner {
  .coverContainer {
    text-align: center;
    img {
      width: 560px;
      @include mq('mobile'){
        width: 80%;
      }
    }
  }
}

::selection {
  background: $extraColor;
  color: $secondColor; 
}

.parallax-container .parallax img {
  width: 100%;
}

.parallax-container {
  height: auto;
  min-height: 600px;
  line-height: 0;
  @include mq('mobile') {
    min-height: 300px;
  }
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}