body {
  font-family: $font1;
  background: $primaryColor;
}

.navbar-fixed {
  z-index: 998 !important;
}

nav {
  background: $primaryColor;
  border-bottom: 1px solid $secondColor;
  ul {
    a {
      color: $secondColor;
    }
  }
  .brand-logo {
    img {
      height: 44px;
      margin-top: 10px;
      @include mq('mobile'){
        height: 37px;
      }
    }
  }
  a.sidenav-trigger {
    display: block !important;
  }
  .iconTranslate {
    width: 50px;
    text-align: center;
    cursor: pointer;
    position: relative;
  }
  .listFlags {
    position: absolute;
    left: -4px;
    top: 64px;
    background-color: rgba($primaryColor, 0.9);
    z-index: 1;
    border: 1px solid $secondColor;
    border-top: none;
    @include mq('mobile') {
      top: 55px;
    }
    li {
      width: 100%;
      height: 64px;
      span {
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
  
  // Nav Mobile
  .sidenav {
    background-color: darken($extraColor, 10%);
    a {
      color: $secondColor;
      @include transition(all .1s ease-in-out);
    }
    li {
      @include transition(all .3s ease-in-out);
      &:hover {
        background-color: darken($extraColor, 25%);
      }
      &.homeLink {
        border-bottom: 1px solid $secondColor;
        padding-bottom: 15px;
        @include mq('mobile') {
          padding-bottom: 7px;
        }
        a {
          text-align: center;
          .icon-home {
            width: 100%;
            &:before {
              color: $secondColor;
              margin-top: 18px;
            }
          }
        }
      }
    }
  }
}

#index-banner {
  height: 100%;
  margin-top: -56px;
  .coverContainer {
    width: 100%;
    text-align: center;
    @include absolutecenter();
    img {
      @include transition(all .3s ease-in-out);
      &:hover {
        @include transform(rotate(-5deg));
      }
      @include mq('mobile'){
        width: 80%;
      }
    }
  }
}

::selection {
  background: $extraColor;
  color: $secondColor; 
}

.parallax-container .parallax img {
  width: 100%;
}

.parallax-container {
  height: auto;
  min-height: 600px;
  line-height: 0;
  .section {
    width: 100%;
  }
  @include mq('mobile') {
    .section {
      padding: 0;
      margin: 0;
    }
  }
  &.footer-parallax {
    @include mq('mobile') {
      height: 1080px;
      .section {
        top: 0;
      }
    }
  }
}